<!DOCTYPE html>
<html>
<head>
    <title></title>
</head>
<body>
<form action="/cart/update/?next={{ request.get_full_path }}" method="post">
    {% csrf_token %}
    <table>
        <tr>
            <th>Produkt</th>
            <th>Anzahl</th>
            <th>Einzelpreis</th>
            <th>Summe</th>

        </tr>
        {% for item in cart %}
            <tr>
                <td>{{ item.product.title }}</td>
                <td><input value="{{ item.quantity }}" name="quantity-{{ item.product.pk }}"/></td>
                <td>{{ item.unit_price }}</td>
                <td style="text-align: right">{{ item.total_price }}</td>

            </tr>
        {% endfor %}
        <tr>
            <td colspan="3" style="text-align: right">Gesamtpreis:</td>
            <td style="text-align: right">{{ cart.summary }}</td>
        </tr>
    </table>
    <input value="Aktualisieren" type="submit"/>
</form>
</body>
</html>